---
name: ci

on:
  push:
    branches: [main]
    paths:
    - 'src/*.rs'
    - 'Cargo.toml'
  pull_request:
    branches: [main]
    paths:
    - 'src/*.rs'
    - 'Cargo.toml'

jobs:
  rust-test:
    runs-on: ubuntu-22.04
    steps:
    - name: checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - name: lint
      run: cargo fmt -- --check
    - name: build
      run: cargo build
    - name: test
      run: cargo test
