---
name: ci

on:
  push:
    branches: [main]
    paths:
    - 'src/*.rs'
    - 'Cargo.toml'
  pull_request:
    branches: [main]
    paths:
    - 'src/*.rs'
    - 'Cargo.toml'

jobs:
  rust-test:
    runs-on: ubuntu-22.04
    steps:
    - name: checkout
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - name: lint
      run: cargo fmt -- --check
    - name: build
      run: cargo build
    - name: test
      run: cargo test
